// COLORS
$orange: #f8a41f;
$yellow: #ffcd00;

$bleu: #2DB8C5;
$noir : #3C3C3B;
$gris: #F4F4F9;


// gradient
$coolGrad: linear-gradient(
  269deg,
  #ff9e01 0%,
  #fd910b 0%,
  #e30870 100%,
  #804f01 100%
);
